<!DOCTYPE html>
<html>
  <head>
    <title>Oriapp320492</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  </head>

  <body>
    <%= yield %>
    <script>
      let sortable = Sortable.create(hoge, {
          group: "hoge",
          animation: 100
      });    
    </script>
    <script>
      Sortable.create(hoge, {
        group: "save",
        store: {
          get: function (sortable) {
            var order = localStorage.getItem(sortable.options.group.name);
            return order ? order.split('|') : [];
          }, 
          set: function (sortable) {
            var order = sortable.toArray();
            localStorage.setItem(sortable.options.group.name, order.join('|'));
          }
        }
      });
    </script>
  </body>
</html>
