<!DOCTYPE html>
<html>
  <head>
    <title>Oriapp320492</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%# JQERYのCDN %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <%# bootstrapのCDN %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    

    <%# SortableのCDN %>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  </head>

  <body>
    <%= yield %>
    <script>
      let sortable = Sortable.create(hoge, {
          group: "hoge",
          animation: 100
      })
      Sortable.create(hoge, {
        group: "save",
        store: {
          get: function (sortable) {
            var order = localStorage.getItem(sortable.options.group.name);
            return order ? order.split('|') : [];
          }, 
          set: function (sortable) {
            var order = sortable.toArray();
            localStorage.setItem(sortable.options.group.name, order.join('|'));
          }
        }
      });
    </script>
  </body>
</html>
